{
  "presets": [
    [
      "airbnb",
      {
        "targets": {
          "chrome": 59,
          "explorer": 11,
          "firefox": 54,
          "safari": 10
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy"
  ]
}