@import 'colors';
@import 'variables';

body {
  font-family: $font-family-open-sans;
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.2px;
  background: $white;
  color: $strong-dark;
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  /* stylelint-enable */
}
